.divider {
   background-color: rgba(#000, 0.1);
   height: 1.25rem;
   margin-left: 0.5rem;
   margin-right: 0.75rem;
   width: 2px;
}
.editor {
   border: 3px solid #0d0d0d;
   border-radius: 0.75rem;
   color: #0d0d0d;
   display: flex;
   flex-direction: column;
   max-height: 26rem;
}
