---
export interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---

<div class="font-bold underline">
  <p><a href={href} rel="noopener noreferrer" target="_blank">{name}</a></p>
</div>
