---
import { SITE } from "../config";
---

<header class="mb-10 flex h-[var(--theme-navbar-height)] items-center">
  <h1 class="text-xl font-bold underline">
    <a href="/">
      <span>{SITE.title}</span>
    </a>
  </h1>
</header>
