---
import { SITE } from "../config";
---

<header class="h-20 mb-10 flex items-center">
  <h1 class="text-xl font-bold underline">
    <a href="/">
      <span>{SITE.title}</span>
    </a>
  </h1>
</header>
