---
export interface Props {
  post: any;
}

const { post } = Astro.props;
const description = post.frontmatter.description || "";
---

<article class="post-preview flex flex-col gap-2.5">
  <header>
    <a href={post.url} class="">
      <h1 class="text-4xl">{post.frontmatter.title}</h1>
    </a>
  </header>
  {!!description && <p>{description}</p>}
</article>
