:root {
  --theme-sidebar-right-width: 18rem;
  --theme-sidebar-left-width: 18rem;
  --theme-navbar-height: 6rem;
  --theme-mobile-toc-height: 4rem;
  --theme-left-sidebar-width: 18rem;
  --theme-right-sidebar-width: 18rem;
  /*
		Minimum visual horizontal spacing from the edges of the viewport,
		and between vertically arranged elements
	*/
  --min-spacing-inline: 1rem;
  /* Vertical spacing around the article content and the right sidebar */
  --doc-padding-block: 0.5rem;
  --max-width: 100%;
  --cur-viewport-height: 100vh;
  /* Font sizes */
  --theme-text-base: 1rem;
  --theme-text-sm: 0.9375rem;
  --theme-text-xs: 0.875rem;
  /* Animation helpers */
  --theme-ease-bounce: cubic-bezier(0.4, 2.5, 0.6, 1);
  --theme-divider: #e5e5e5;
}
html {
  /* Mobile TOC is displayed above page content */
  scroll-padding-top: calc(
    1.5rem + var(--theme-navbar-height) + var(--theme-mobile-toc-height)
  );
}

.toc-post {
  width: var(--theme-sidebar-left-width);
  position: fixed;
  right: 0;
}

.toc-post .toc-level .toc-link {
  padding-inline-start: 1rem;
}

.toc-post .toc-level-2 .toc-link {
  padding-inline-start: 2rem;
}

.toc-post .toc-level-3 .toc-link {
  padding-inline-start: 3rem;
}

li.toc-item {
  display: flex;
  flex-direction: column;
}

.toc-link {
  border-inline-start: 4px solid var(--theme-divider);
}
.toc-link.active {
  border-inline-start: 4px solid #000;
}

.main-content {
  margin-inline-start: var(--theme-sidebar-left-width);
  margin-inline-end: var(--theme-sidebar-right-width);
}
